:root {
    --black: #2E2D2D;
    --basic: #1D1B1B;
    --white: #FFFFFF;
    --green-m: #079B94;
    --green-p: #0FBCB3;
    --grey: #8D8BA7;
    --gray-text: #9795B5;
    --gray-1000: #767494;
    --gray-800: #ADABC3;
    --gray-300:#F9F9FF;
    --gray-500:#E7E6F2;
    --radius: 8px;
    --transition: 0.3s;
}

/* main-components */
.main-title {
    font-weight: 700;
    font-size: 48px;
}

@media (max-width: 992px) {
    .main-title {
        font-size: 38px;
    }
}

.title p {
    color: var(--basic);
    font-weight: 500;
    font-size: 20px;
}

@media (max-width: 767px) {
    .title p {
        font-size: 18px;
    }
}

/* get-in-touch-landing */
.get-in-touch-landing img {
    width: 100%;
    margin-top: -13px;
}

.get-in-touch-landing .head-title {
    color: var(--white);
   bottom: 20%;
}

.get-in-touch-landing .head-title h2 {
    font-weight: 700;
    font-size: 60px;
}

.get-in-touch-landing .head-title h2 span {
    font-size: 70px;
}

@media (max-width: 992px) {
    .get-in-touch-landing .head-title h2 {
        font-size: 40px;
    }

    .get-in-touch-landing .head-title h2 span {
        font-size: 44px;
    }
}

@media (max-width: 767px) {
    .get-in-touch-landing .head-title {
        bottom: 14%;
    }

    .get-in-touch-landing .head-title h2 {
        font-size: 36px;
    }

    .get-in-touch-landing .head-title h2 span {
        font-size: 40px;
    }
}

/* get-in-touch */
.get-in-touch {
    color: var(--basic);
}

.get-in-touch .contact {
    padding: 0 10%;
}

.get-in-touch .middle {
    border-left: 2px solid var(--basic);
    border-right: 2px solid var(--basic);
}

.get-in-touch .contact-item {
    text-align: center;
    padding: 0 15px;
    width: 50%;
}

.get-in-touch .contact-item .img-holder {
    height: 40px;
}

.get-in-touch .contact-item img {
    height: 100%;
    object-fit: contain;
}

.get-in-touch .contact-item .info {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    min-height: 70px;
}

@media (max-width: 992px) {
    .get-in-touch .contact {
        padding: 0 5%;
    }
    .get-in-touch .contact-item .img-holder {
        height: 30px;
    }
    .get-in-touch .contact-item .info {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .get-in-touch-landing img {
        height: 240px;
        object-fit: cover;
    }

    .get-in-touch .title h3 {
        font-size: 32px;
        color: var(--basic);
        text-transform: uppercase;
    }

    .get-in-touch .title h3 span {
        display: block;
        color: var(--green-p);
    }

    .get-in-touch .contact-item {
        display: flex;
        align-items: center;
        gap: 10px;
        height: auto;
        width: auto;
        text-align: start;
        margin-bottom: 15px;
    }
   
    .get-in-touch .middle {
        border: none;
    }
    .get-in-touch .contact-item div {
        margin: 0;
    }

    .get-in-touch .contact-item .img-holder {
         width: 22px;
    }

     .get-in-touch .contact-item .img-holder img {
        width: 100%;
        
    }
    .get-in-touch .contact-item .info {
        min-height: auto;
        margin-top: 0;
        font-size: 16px;
        padding-left: 3px;
    }
}
/* end-get-in-touch */

/* questions  */
.questions {
    background-image: url(../images/counter-bg.png);
    background-position: center;
    background-size: cover;
}

.questions input, .questions textarea {
    width: 100%; 
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F2F1FA66;
    border: 1px solid var(--white);
    color: var(--black);
}

.questions input {
    display: block;
    margin-bottom: 15px;
}

.questions input::placeholder, .questions textarea::placeholder {
    color: var(--black);
}

.questions input:focus, .questions textarea:focus {
    border: 1px solid var(--green-p);
    outline: navy;
}

.questions textarea {
    resize: none;
    height: 156px;
}

.questions form button {
    border-radius: var(--radius);
    padding: 7px 30px;
    border: 1px solid var(--white);
    transition: var(--transition);
}

.questions form button:hover {
    background-color: transparent;
    color: var(--white);
}

#get_in_touch input.error, #get_in_touch textarea.error {
    margin-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 767px) {
    .questions input, .questions textarea {
        font-size: 14px;
    }

    .questions form button {
        width: 100%;
    }
}

/* connect-with-us */
.connect-with-us .social-links a {
    color: var(--black);
    padding: 6px;
    background-color: #43404033;
    margin: 5px;
    border-radius: 10px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    transition: var(--transition);
}

.connect-with-us .social-links a:hover {
    color: var(--green-m);
}

@media (max-width: 767px) {
    .connect-with-us .social-links a {
        padding: 6px;
        margin: 4px;
        width: 36px;
        font-size: 16px;
    }
}

/* map */
.map iframe {
    width: 100%;
    height: 400px;
    margin-bottom: -7px;
}

@media (max-width: 767px) {
    .map iframe {
      height: 250px;  
    }
}