@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

:root {
    --black: #2E2D2D;
    --basic: #1D1B1B;
    --white: #FFFFFF;
    --green-m: #079B94;
    --green-p: #0FBCB3;
    --grey: #8D8BA7;
    --gray-text: #9795B5;
    --gray-1000: #767494;
    --gray-800: #ADABC3;
    --gray-300: #F9F9FF;
    --gray-500: #E7E6F2;
    --radius: 8px;
    --transition: 0.3s;
}

/* landing-page */
.slick-next,
.slick-prev {
    display: none !important;
}

.landing-page img {
    width: 100%;
}

.landing-page .landing-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-page .landing-content .head {
    font-size: 34px;
}

.landing-page .landing-content h1 {
    font-family: 'Gayathri', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 64px;
}

@media (max-width: 992px) {
    .landing-page .landing-content .head {
        font-size: 24px;
    }
    .landing-page .landing-content h1 {
        font-size: 44px;
    }
    .landing-page .landing-content a {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .landing-page img {
        object-fit: cover;
    }
    .landing-page .landing-content {
        top: 58%;
    }
    .landing-page .landing-content .head {
    font-size: 22px;
    }
    .landing-page .landing-content h1 {
    font-size: 34px;
    }
     .landing-page .landing-content a {
        font-size: 14px;
    }
}

/* about-us  */
.about-us {
    background-color: var(--black);
}

.about-us .main-img {
    max-width: 100%;
    position: absolute;
    top: 46%;
    left: 2%;
    transform: translate(0, -46%);
}

.about-us h2 {
    font-weight: 700;
    font-size: 36px;
}

.about-us h3 {
    font-size: 28px;
    font-weight: 400;
}

.about-us p {
    font-size: 18px;
    padding-right: 42%;
}

.about-us ul {
    margin-bottom: 0;
    margin-left: 10%;
}

.about-us ul li {
    font-size: 16px;
}

.about-us ul li:not(:last-child) {
    margin-bottom: 12px;
}

.about-us .arrow {
    width: 22px;
    margin-right: 10px;
}

.about-us .sec-p {
    padding: 30px 0;
}

@media (max-width: 767px) {
    .about-us .sec-p {
       padding: 40px 20px;
    }
}

@media (max-width: 992px) {
    .about-us {
        background-color: var(--white);
        color: var(--basic);
        font-weight: 500;
    }


    .about-us h2 {
        font-size: 32px;
    }

    .about-us h3 {
        font-size: 22px;
        color: var(--grey);
        font-weight: 400;
    }

    .about-us ul {
        margin-left: 0;
    }
}

/* counter */
.counter .counter-padding {
    padding: 85px 35px;
}

.counter {
    background-image: url(../images/counter-bg.png);
    background-position: center;
}

.counter h2 {
    font-weight: 800;
    font-size: 50px;
    color: var(--basic);
    margin-bottom: 0;
}

.counter h3 {
     font-weight: 700;
     font-size: 38px;
     color: var(--basic);
}

.counter h3 span {
    color: var(--white);
}

.counter p {
    font-weight: 500;
    font-size: 20px;
}

.counter .counter-card {
    border: 1px solid var(--white);
    border-radius: 11px;
    padding: 22px 10px;
    width: 125px;
    background: linear-gradient(180deg, rgb(28 58 58) 0%, #2b4947d4 18%, #0FBCB3 100%);
}

.counter .counter-card .number {
    font-size: 40px;
    font-weight: 700;
}

.counter .counter-card .desc {
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 992px) {
    .counter .counter-card {
        width: 125px;
        padding: 20px 10px;
    }

    .counter .counter-card .number {
        font-size: 28px;
    }

    .counter .counter-padding {
        padding: 40px 20px;
    }
    .counter h2 {
        font-size: 40px;
    }
    .counter h3 {
        font-size: 28px;
    }
}

/* video */
.video {
    background-image: url(../images/video-bg.png);
    background-position: 6% 30%;
    object-fit: cover;
}

.video video {
    width: 80%;
}

/* case-studies */


/* reviews */
.reviews .head-title h2 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

.reviews .head-title div {
    color: var(--gray-text);
    padding: 0 20%;
    font-size: 18px;
}

.reviews .review-card {
    margin: 0 10px;
    cursor: grab;
    opacity: 0.6;
    transition: var(--transition);
}

.reviews .review-card.slick-current {
    opacity: 1;
}

.reviews .review-card .box {
    border: 1px solid var(--gray-800);
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--gray-300);
    min-height: 120px;
}

.reviews .review-card .box img {
    width: 25px;
    margin-right: 10px;
}

.reviews .review-card .box p {
    color: var(--gray-1000);
    margin-bottom: 0;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: 500;
}

.reviews .review-card .user-img {
    border: 3px solid var(--green-m);
    border-radius: 50%;
    width: 70px;
    margin: auto;
    overflow: hidden;
    height: 70px;
}

.reviews .review-card .user-img img {
    width: 100%;
}

.reviews .review-card .image img {
    width: 15px;
    margin: 12px auto;
}

.reviews .review-card .user h4 {
    color: var(--black);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 600;
}

.reviews .review-card .user {
    margin-bottom: 30px;
}

.reviews .review-card .user .position {
    color: var(--grey);
    font-size: 16px;
}

.reviews .slick-dots li button:before {
    background-color: var(--gray-500);
}

.reviews .slick-dots li.slick-active button:before {
    background-color: var(--green-p);
}

@media (max-width: 992px) {
    .reviews .review-card .box p {
        font-size: 14px;
    }
    .reviews .review-card .user h4 {
        font-size: 18px;
    }
    .reviews .review-card .user .position {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .reviews .head-title h2 {
        font-size: 36px;
        padding: 0 42px;
    }

    .reviews .head-title div {
        font-size: 16px;
        padding: 0 10px;
    }

    .reviews .review-card .box p {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .reviews .slick-dots li button:before {
        width: 50px;
    }
    .slick-dots li {
    width: 54px;
    }
}

/* talks */
.talks {
  color: var(--basic);
}

.talks .head-title .date {
  color: var(--gray-1000);
  font-weight: 500;
  margin-bottom: 3px;
}

.talks h4 {
  font-weight: 700;
  font-size: 42px;
}

.talks .head-title img {
  max-width: 100%;
  border-radius: var(--radius);
}

.talks .info h5 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 4px;
}

.talks .info p {
  margin-bottom: 20px;
}

.talks .talk-card {
    margin-bottom: 20px;
    padding: 0 10px;
}

.talks .talk-card .main-img {
    width: 100%;
    border-radius: var(--radius);
}

.talks .talk-card .head-title {
    font-weight: 600;
    margin-top: 10px;
    color: var(--gray-800);
    font-size: 18px;
}

.talks .talk-card h5 {
    font-size: 22px;
    font-weight: 600;
    color: var(--basic);
}

.talks .talk-card .arrow-icon {
    height: 27px;
}

.talks .view-more:hover {
    color: var(--green-m);
}

.talks .view-more a {
  color: var(--basic);
  transition: var(--transition);
   font-weight: 500;
}

.talks .view-more a:hover {
  color: var(--green-m);
}


@media (max-width: 767px) {
  .talks .head-title .date {
    font-size: 14px;
  }

  .talks h4 {
    font-size: 34px;
  }

  .talks .info h5 {
    font-size: 18px;
  }

  .talks .info p {
    font-size: 14px;
  }

    .talks .talks .talk-card h5 {
        font-size: 18px;
    }

    .talks .talks .talk-card .arrow-icon {
        height: 25px;
    }

    .talks .talk-card {
      padding: 0;
    }

    .talks .talk-card .arrow-icon {
      height: 25px;
    }
}

@media (max-width: 992px) {
    .talks .talk-card h5 {
        font-size: 20px;
    }
  .talks .talk-card .head-title {
        font-size: 16px;
  }

  .talk-details .talk-card h5 {
    font-size: 18px;
  }
}